body{
    background-color: #1A174D;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #fff;
  }

  .logo {
    font-size: 24px;
  }


  /* チェックボックスを非表示にする */
  .drawer_hidden {
    display: none;
  }

  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
  }

  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }

  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }

  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }

  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }

  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  /* メニューのデザイン*/
  .nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
  }

  /* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
  }

  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    left: 0;/* メニューを画面に入れる */
  }

  .logo {
    font-family: 'Odibee Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 22px;
    /* または46% */

    text-align: left;

    color: #5E72E4;
  }

/* ランキング */


  #OwnRankingHeder{
    background-color: #5E72E4;
  }

  #RankingHeder{
    background-color: #5E72E4;
    margin-bottom: 3px;
  }

  #OwnRank{
    margin: 8px;
    font-size: 40px;
  }
  #RankingList{
    counter-reset: chapter;
    border-radius: 50px;
    margin:20px;
  }

  #RankingList li {
    margin-bottom: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #cde2e8;
    list-style: none;
    background-color: #cde2e8;
  }

  #RankingList li::before {
    counter-increment: chapter;
    content: counter(chapter) "位";
    margin: 20px 10px;
    padding:10px;
    border-radius: 50px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
  }

  #name{
    margin:15px 15px 15px 5px;
    font-size: 20px;
  }

  #UserStatus{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  #uid{
    opacity: 0.6;
  }

  #level{
    align-items: flex-start;
    justify-content: flex-start;
  }

  #UserAchievement{
    display:flex;
    Justify-content:space-between;
    margin:10px 15px 5px 5px;
    font-size: larger;
  }

.OwnRankingContainer{
  background-color: aliceblue;
  border-radius: 20px;
  padding:4px;
  margin:5px;
}

ul {
  padding-inline-start: 0px;
}

#RankingContainer0 ::before {
  color: #ffd700;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}