body{
    background-color: #1A174D;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #fff;
  }

  .logo {
    font-size: 24px;
  }


  /* チェックボックスを非表示にする */
  .drawer_hidden {
    display: none;
  }

  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
  }

  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }

  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }

  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }

  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }

  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  /* メニューのデザイン*/
  .nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
  }

  /* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
  }

  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    left: 0;/* メニューを画面に入れる */
  }

  .logo {
    font-family: 'Odibee Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 22px;
    /* または46% */

    text-align: left;

    color: #5E72E4;
  }

  .sampleButton-ok {
    width: 300px;
    height: 300px;
    margin: 90px 40px;
    background-color: #5E72E4;
    border: solid 1px #2639a7;
    border-radius: 200px;
    color: #fff;
    font-size:12px;
    line-height: 280px;
    text-align: center;
    cursor: pointer;
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* OKの時のマウスオーバー */
.sampleButton-ok:hover {
    background-color: #5E72E4;
}

/* NGの時の基本スタイル*/
.sampleButton-ng {
  width: 300px;
  height: 300px;
  margin: 90px 40px;
  border-radius: 200px;
  font-size:12px;
  line-height: 280px;
  text-align: center;
  cursor: pointer;
  font-size: 90px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #fff;
  border: solid 1px #3553ff;
  color: black;
}

/* NGの時のマウスオーバー */
.sampleButton-ng:hover{
    background-color: #F5365C;
}

.running_states{
  background-color: #fff;
}

h1{
  margin-top:1rem;
}